$color-fondo-claro: #f9f5f64c; 
$color-acento: #e426be;
$color-texto: #000000;
$color-subtexto: #010101;


$fuente-primaria: 'Open Sans', sans-serif; 
$fuente-secundaria: 'Roboto', sans-serif; 



$color-fondo-header: #eec0c07d;
$color-fondo-main: #EEEDEB;
$color-fondo-footer: #e0e0e0;
$color-fondo-nav: #EEEDEB;